extends ../layouts/main-layout.pug

block content
  main
    if orders.length
      ul
        each order in orders
          li
            h1  #{order._id}
            ul
              each product in order.items
                li
                  div
                    h2  #{product.title} (#{product.quantity})
    else
      h1  Nothing there!